# This was inserted by `prisma init`:
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="postgresql://root:root@postgres:5432/tutorialls_database?schema=public"

JWT_SECRET="secret"
JWT_EXPIRES_IN="1d"

ENCRYPT_KEY="256-bit key"
ENCRYPT_ALGORITHM="aes-256-ctr"
ENCRYPT_BREAKPOINT=":"

HASH_ROUNDS=1

REDIS_HOST="redis"
#REDIS_HOST="localhost"
REDIS_PORT="6379"
REDIS_TTL="5"

RABBITMQ_URL="amqp://admin:admin@rabbitmq:5672"
RABBITMQ_HOST="rabbitmq"
#RABBITMQ_HOST="localhost"
RABBITMQ_PORT="5672"
RABBITMQ_USER="admin"
RABBITMQ_PASS="admin"
RABBITMQ_QUEUE="tutorialls_queue"
